html, body, #mapDiv {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.filterList {
    z-index: 10;
    position: fixed;
    right: 0px;
    top: 2em;
    list-style-type: none;
}

.filterItem {
    padding: 1em;
    background-color: #feffff;
    transform: translateX(100%);
    transition: transform 1s;
}

.listed {
    transform: translateX(0);
    transition: transform 1s;
}