html, body, #mapDiv {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #feffff;
    z-index: 10;
    width: 100%;
    height: 3em;
}

.title {
    margin: 0;
    font-family: Arial, 'sans-serif';
    margin-top: 5px;
}

.filterList {
    padding: 10px;
    z-index: 10;
    position: fixed;
    right: 1px;
    top: 2em;
    list-style-type: none;
    max-height: 100%;
    overflow: auto;
    /*background-color: #feffff;
    box-shadow: -3px 3px 3px 3px gray;*/
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 1.5em;
    width: auto;
}

.filterItem {
    padding: 1em;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    transform: translateX(100%);
    -webkit-transition-duration: transform 2s;
    transition: transform 1s;
    font-size: 1.5em;
    /*padding-right: 0;
    margin-right: 0;*/
    box-shadow: 0 3px 3px 3px gray;
}

.filterItem.listed {
    transform: translateX(0);
    transition: transform 1s;
}

.hidden {
    
}

.airLogo {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.flightName {
    margin: 0;
}

.selFlight {
    box-shadow: 0 0 7px 7px #7BADFC;
}

@media (max-width: 980px) {
    .filterList {
        width: 100%;
    }

    .header {
        height: 5em;
    }

    .title {
        font-size: 2.5em;
    }
}
