html, body, #mapDiv {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #feffff;
    z-index: 10;
    width: 100%;
    height: 3em;
}

.title {
    margin: 0;
    font-family: Arial, 'sans-serif';
    margin-top: 5px;
}

.filterList {
    padding: 10px;
    z-index: 10;
    position: fixed;
    right: 1px;
    top: 2em;
    list-style-type: none;
    max-height: 95%;
    overflow: auto;
    transition: transform 1s;
}

.searchCircle {
    border-radius: 50%;
    background-color: blue;
    width: 60px;
    height: 60px;
    box-shadow: -3px 3px 3px 1px black;
    position: fixed;
    left: 5px;
    bottom: 5px;
    z-index: 15;
    transition: all 1s;
}

.searchIcon {
    width: 60px;
    height: 60px;
    position: fixed;
    left: 5px;
    bottom: 5px;
    transition: all 1s;
}

.searchBox {
    position: fixed;
    left: 30px;
    bottom: 12px;
    width: 0px;
    height: 30px;
    border: 7px solid blue;
    border-radius: 50px;
    box-shadow: -3px 3px 3px 1px black;
    font-size: 20px;
    font-weight: bold;
    z-index: 14;
    transition: width 1s, padding 1s;
}

.searchVis {
    width: 290px;
    padding-left: 30px;
}

.searchSpin {
    transform: rotate(810deg);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 1.5em;
    width: auto;
    transition: transform 1s;
}

.infoBox {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #feffff;
    box-shadow: 3px 3px 3px 1px gray;
    /*height: 78px;*/
    z-index: 2;
    display: flex;
    transition: transform 1s;
    transition-delay: height 1s;
}

.1s {
    z-index: 3;
    padding: 5px;
    width: 350px;
    /*height: 68px;*/
    border-right: 1px solid lightgray;
    transition-delay: width 1s;
}

.hideInfoBut {
    float: right;
    height: 68px;
    width: auto;
    z-index: 3;
    margin: 0;
    padding: 0;
    transition: transform 1s;
}

.infoBox.visInfo {
    transform: translateX(-360px);
    height: 68px;
}

.info.visInfo {
    /*width: 0;*/
}

.showInfoBut {
    transform: rotate(180deg);
}

.info p, .info h3 {
    padding: 0;
    margin: 0;
}

.hiddenBut {
    transform: translateX(100%);
}

.menuSpin {
    transition: 1.1s, rotate .5s;
    transform: rotate(180deg);
}

.filterItem {
    padding: 1em;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 200px;
    max-width: 100%;
    transform: translateX(100%);
    transition: transform 1s;
    font-size: 1.5em;
    box-shadow: 0 3px 3px 3px gray;
}

.filterItem.listed {
    transform: translateX(0);
    transition: transform 1s;
}

.hidden {
    transform: translateX(100%);
}

.airLogo {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.flightName {
    margin: 0;
}

.selFlight {
    box-shadow: 0 0 7px 7px #7BADFC;
}

@media (max-width: 640px) {
    .filterList {
        width: 50%;
        max-height: 500px;
    }

   /* .header {
        height: 5em;
    }*/

    .title {
        font-size: 2.5em;
    }
}
